@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Holiday APP</h1>
    <br />

    <p>The perfect destionation for you is: @ViewBag.responseCall!</p>
    

    <!--<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Refresh</a>-->
</div>
